<div class="row">
    <div class="col-md-12"></div>
    <div
        class="alert alert-danger"
        role="alert"
        *ngFor="let error of errorMessages"
    >
        {{ error }}
    </div>
</div>

<main>
    <div class="title-container">
        <span class="titleText">{{ pageTitle }}</span>
        <button mat-flat-button routerLink="/products">
            <mat-icon>chevron_left</mat-icon>
            Voltar
        </button>
    </div>

    <div class="container-fluid form-container">
        <div class="row">
            <div class="col-md-12"></div>
            <div
                class="alert alert-danger"
                role="alert"
                *ngFor="let error of errorMessages"
            >
                {{ error }}
            </div>
        </div>

        <div [formGroup]="form">
            <br />
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Código de Barras</mat-label>
                <input
                    formControlName="barcode"
                    matInput
                    placeholder="Código de barras"
                    minLength="1"
                    required
                />
            </mat-form-field>

            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Nome</mat-label>
                <input
                    formControlName="name"
                    matInput
                    placeholder="Digite seu nome"
                    minlength="3"
                    maxlength="50"
                    required
                />
            </mat-form-field>

            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Quantidade Estoque</mat-label>
                <input
                    formControlName="stock"
                    matInput
                    placeholder="Digite a quantidade de estoque inicial"
                    type="number"
                    minlength="1"
                    maxlength="50"
                    required
                />
            </mat-form-field>

            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Preço</mat-label>
                <span matPrefix>R$ &nbsp;</span>
                <input
                    matInput
                    formControlName="price"
                    mask="separator.2"
                    thousandSeparator="."
                    placeholder="1.000,00"
                    minlength="1"
                    maxlength="6"
                    required
                />
                <mat-error *ngIf="form.controls.price.hasError('required')"
                    >Preço é obrigatório! Informe 0 para itens sem preço.
                </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Situação do produto</mat-label>
                <mat-select formControlName="active" required>
                    <mat-option value="true">Ativo</mat-option>
                    <mat-option value="false">Inativo</mat-option>
                </mat-select>
                <mat-error *ngIf="form.controls.active.hasError('required')"
                    >Status é obrigatório!</mat-error
                >
            </mat-form-field>

            <div class="row justify-content-between">
                <div class="col-6">
                    <button (click)="limparFormulario()" mat-raised-button>
                        <mat-icon>insert_drive_file</mat-icon>
                        Limpar
                    </button>
                </div>
                <div class="col-6" align="right">
                    <button
                        [disabled]="!form.valid"
                        mat-raised-button
                        color="primary"
                        (click)="submit()"
                    >
                        <mat-icon>save</mat-icon>
                        Salvar
                    </button>
                </div>
            </div>
            <br />
        </div>
        <div class="esp-top">
            <div
                *ngIf="
                    form.controls.name.errors && !form.controls.name.pristine
                "
                class="alert alert-warning"
                role="alert"
            >
                Campo nome deve conter entre 3 e 50 caracteres!
            </div>
            <div
                *ngIf="
                    form.controls.price.errors && !form.controls.price.pristine
                "
                class="alert alert-warning"
                role="alert"
            >
                Verifique o preço informado!
            </div>
        </div>
    </div>
</main>
