.full-width {
    width: 100%
}

.half-width {
    width: 50%
}

.esp-top {
    padding-top: 10px;
  }

.esp-right {
    padding-right: 10px;
  }

.esp-bottom {
    padding-bottom: 10px;
  }

.esp-left {
    padding-left: 10px;
}

.title-container {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titleText {
  font-size: large;
  font-weight: bold;
}